//---------------------------------------------------------------------------
//
// Name:        UploadApp.rc
// Author:      user
// Created:     22/10/2018 3:39:40 PM
// Description: 
//
//---------------------------------------------------------------------------

#ifdef _WIN64
#define WX_CPU_AMD64
#endif

#include <wx/msw/wx.rc>
